body {
  background-color: #d6d4e0;
}


h1, h2, h3, h4, h5, h6, h7 p {
text-align: center;
color: #622569;
font-family: 'Fjalla One', sans-serif;
}


td, th {
text-align: center;
color: #622569;
font-family: 'Quicksand', sans-serif;
padding: 2px;
margin: 2px;
}


li {
list-style-type: none;
padding: 2px;
margin: 2px;
}

#boom-list li {
font-weight: bold;
color: #622569;
font-family: 'Quicksand', sans-serif;
padding: 2px;
margin: 2px;
}

ul {
text-align: center;
}

.navbar {
background-color: #ffb500;
}

.card-content { 
background-color: rgba(146, 147, 148, 0.274);
padding: 2em;
margin: 2em;
}

button, [type~="submit"] {
background-color: #6c757d;
border-radius: 4px;
margin: 5px;
padding: 6px;
color: white;
text-align: center;
}

form {
text-align: center;
}

[input~="submit"] {
border-radius: 4px;
}
